/* Estilos para el contenedor principal */
.App {
  text-align: center;
  margin-top: 100px;
}

/* Estilos para el título */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Estilos para el campo de entrada */
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 250px;
}

/* Estilos para el botón */
button {
  padding: 10px 20px;
  background-color: #603731;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
}

/* Estilos para el mensaje */
p {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #333;
}
